<div class="mainContainer">
  <app-aside></app-aside>
  <div class="cardContainer">
    <div class="card" *ngFor="let inform of info">
        <img src="../../../assets/img/products/pc/1.png" alt="">
        <div class="information">
            <h3>{{inform.nombre}}</h3>
            <span class="cost">{{inform.precio}}</span>
            <p>{{inform.descripcion}}</p>
            <h4>Descripción</h4>
        </div>
        <a class="buy" href="">Agregar al carrito</a>
    </div>
</div>
</div>


<!--img class="banner" src="../assets/img/banner.jpg" alt="" />
<h1>Computadoras</h1>
<div-- class="mainContainer">
  <app-aside></app-aside>
  <app-products></app-products>
</div-->